.container {
    padding: 16px;
    background-color: white;
    width: 350px;
    justify-content: center;
    border-style: ridge;
    align-items: center;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    background-color: brown;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    align-items: center;
}

button:hover {
    opacity: 1;
}